.modal-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: var(--primary-color);
    text-align: left;
}

input, label {
    display: block;
    margin: 5%;
}

label {
    color: var(--primary-color);
    padding-left: 0;
    text-align: left;
}

input {
    background-color: var(--primary-color);
}

.modal-content {
    padding: 2%;
    background-color: var(--secondary-color);
    border: 1px solid var(--highlight-color);
    border-radius: 10%;
    
}

.button-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5%;
}