<table class="trainings-table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Duration In Minutes</th>
      <th>Difficulty(1-10)</th>
      <th>Fatigue(1-10)</th>
      <th>Calories Burnt</th>
      <th>DateTime</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let training of trainings | async">
      <td>{{ training.type }}</td>
      <td>{{ training.durationInMinutes }}</td>
      <td>{{ training.difficulty }}</td>
      <td>{{ training.fatigue}}</td>
      <td>{{ training.caloriesBurnt }}</td>
      <td>{{ training.dateTime }}</td>
      <td>
        <div class="button-container">
          <button (click)="onUpdate(training)">Update</button>
          <button (click)="onDelete(training)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

